<link rel="stylesheet" type "text/css" href="css/style.css">

<!doctype HTML5>

<html lang="en">

<head>
	<meta charset="utf-8">

	<title>Phonebook Database</title>
	<meta name="description" content="Phonebook Database">
	<meta name="author" content="SitePoint">
</head>

<div id="theNavBar">
	<ul id="options">
		<ul id="home"><a class="one" href="/">Phonebook</a></ul>
		<div id="optionsdiv">
			<ul id="options">
				<li><a class="links" href="#">Social Media Links</a>
					<ul>
						<li><a class="facebook" href="https://www.facebook.com/minedmindsfoundation/" target = "_blank">Facebook</a></li>
						<li><a class="twitter" href= "https://twitter.com/MinedMinds" target = "_blank">Twitter</a></li>
					</ul>
				</li>
				<li><a class="about" href="http://www.minedminds.org" target = "_blank">About Mined Minds</a></li>
				<li><a class="contact" href="http://www.minedminds.org/contact" target = "_blank">Contact Mined Minds</a></li>
			</ul>
		</div>
	</ul>
</div>

<body>
	<form method="post" action="/edit">
		<h3>Select the line you wish to edit.</h3>
		<table id = "edit_select_table">
     	   <tr class = "header">
                <th style = "width: 10%;"> First Name </th>
                <th style = "width: 10%;"> Last Name </th>
                <th style = "width: 10%;"> City </th>
                <th style = "width: 10%;"> Street Address </th>
                <th style = "width: 10%;"> Zip Code </th>
                <th style = "width: 10%;"> Phone Number </th>
                <th style = "width: 10%;"> Email Address </th>
      	  	</tr>
      	 	<tr class = "header">
			<div id="search_bar">
				<input type = "text" id = "search_bar_input" onkeyup = "search_function()" placeholder = "Search by first name">
            		<% phonebook.each do |value| %>
            			<td> <input type="radio" name="edit_select_table_radio" value="<%= phone_number %>">
            			<td> <%= value['first_name'] %> </td>
            			<td> <%= value['last_name'] %> </td>
            			<td> <%= value['city'] %> </td>
            			<td> <%= value['street_address'] %> </td>
            			<td> <%= value['zip'] %> </td>
            			<td> <%= value['phone_number'] %> </td>
            			<td> <%= value['email_address'] %> </td>
       		</tr>
					<% end %>
		</table>
		<input type="submit">


</body>

<script>
		function search_function() {
			var user_given_search_input, uppercase_filter, table, table_row, table_cell, index_position;
            
            user_given_search_input = document.getElementById("search_bar_input")
            uppercase_filter = user_given_search_input.value.toUpperCase();
            table = document.getElementById("book_table")
            table_row = table.getElementsByTagName("tr")
            for (index_position = 0; index_position < table_row.length; index_position++) {
                table_cell = table_row[index_position].getElementsByTagName("td")[0];
                if (table_cell) {
                    if (table_cell.innerHTML.toUpperCase().indexOf(uppercase_filter) > -1) {
                        table_row[index_position].style.display = "";
                    }
                    else {
                        table_row[index_position].style.display = "none";
                    }
                }
            }
        }
</script>